snippet mfn "function as argument"
${1:method}(${2:arguments}function (${3:funargs}) {
    ${0:// body...}
})${4:;}
endsnippet

snippet fn "nameless function"
function (${1:argument}) {
    ${0:// body...}
}
endsnippet


